h1 a, h2 a {
  #color: #A27AFE;
  #font-family: 'Inconsolata', monospace;
  font-family: 'Indie Flower', cursive;
}

h1, h2, h3, h4, p {
  font-family: 'Inconsolata', monospace;
}

body {
  #padding-left: 15px;
}

.page-header {
  background-color: #A27AFE;
  margin-top: 0;
  padding: 10px 10px 10px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
}

.content {
  margin-left: 40px;
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 100%;
  height: 20px;
  overflow: hidden;
}

.top-menu, .top-menu:hover, .top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

.post {
  margin-bottom: 70px;
  padding-left: 20px;
  padding-right: 30px;
}

.post-preview{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post h2 a, post h2 a:visited {
  color: #000000;
}
