{% extends 'scobie/base.html' %}

{% block content %}
  <div class="post">
     <h2>{{ post.title }}</a></h3>
       <div class="date">
          {% if post.published_date %}
            <p>published : {{ post.published_date }}</p>
          {% endif %}
       </div>
     <p>{{ post.text | linebreaksbr}}</p>
   </div>
{% endblock%}


