{% extends 'scobie/base.html' %}

{% block content %}
  {% for post in posts %}
    <div class="post">
      <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <div class="date">
          <p>published : {{ post.published_date }}</p>
        </div>
        <div class="post-preview">
          <p>{{ post.text | linebreaksbr}}</p>
        </div>
    </div>
  {% endfor %}
{% endblock%}
